
body
{
	overflow-x:hidden;
	font-family: 'Titillium Web', sans-serif;
}

p
{
	line-height:1.75;
	margin-top: 0;
	margin-bottom: 0;
}

a
{
	color:#bd1c1d;
}

.active
{
	color:#bd1c1d;
}

.dropdown-menu
{
	background-color: #212529;
	border:none;
}

.dropdown-menu li
{
	text-align: center;
	text-transform: none;
}

.text-primary
{
	color:#bd1c1d!important;
}

h1,h2,h3,h4,h5,h6
{
	font-weight:700;
	font-family: 'Amaranth', sans-serif;
}

section
{
padding:100px 0;
}

section h2.section-heading
{
	font-size:40px;
	margin-top:0;
	margin-bottom:15px;
}

section h3.section-subheading
{
	font-size:16px;
	font-weight:400;
	font-style:italic;
	margin-bottom:75px;
	text-transform:none;
	font-family: 'Titillium Web', sans-serif;
}

.monlogo
{
	display: none;
}

@media (min-width:768px) /* Responsive tablette */
{
	section
	{
	padding:150px 0;
	}
}

.btn
{
	font-weight:700;
}

.btn2
{
	font-weight:200;
}

.btn-xl
{
	padding:10px 20px;
}

.btn-primary
{
	background-color:#bd1c1d;
	border-color:#bd1c1d;
}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover
{
	background-color:#000!important;
	border-color:#000!important;
	color:#fff;
}

::-moz-selection
{
	background:#bd1c1d;
	text-shadow:none;
}

::selection
{
	background:#bd1c1d;
	text-shadow:none;
}

img::-moz-selection
{
background:0 0;
}

img::selection
{
background:0 0;
}

img::-moz-selection
{
background:0 0;
}

/* =========================================== Menu NAV =========================================== */
/* =========================================== Menu NAV =========================================== */
/* =========================================== Menu NAV =========================================== */

#mainNav
{
	background-color:#212529;
}

#mainNav .navbar-toggler
{
	font-size:13px;
	right:0;
	padding:13px;
	text-transform:uppercase;
	color:#fff;
	border:0;
	background-color: #212529;
	font-family: 'Titillium Web', sans-serif;
}

#mainNav .navbar-brand
{
	font-family: 'Titillium Web', sans-serif;
}

#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover
{
	color:#bd1c1d;
}

#mainNav .navbar-nav .nav-item .nav-link
{
	font-size:90%;
	font-weight:400;
	padding:.75em 0;
	letter-spacing:1px;
	color:#fff;
	font-family: 'Titillium Web', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover
{
	color:#bd1c1d;
}

@media (min-width:992px) /* Responsive screen 992px */
{
	#mainNav
	{
		padding-top:15px;
		padding-bottom:15px;
		-webkit-transition:padding-top .3s,padding-bottom .3s;
		transition:padding-top .3s,padding-bottom .3s;
		border:none;
		background-color:#212529;
	}

	.monlogo
	{
		display: block;
	}

	.monNom
	{
		display: none;
	}

	#mainNav .navbar-brand
	{
		font-size:1.75em;
		-webkit-transition:all .3s;
		transition:all .3s;
	}

	#mainNav .navbar-nav .nav-item .nav-link
	{
	padding:1.1em 1em!important}

	#mainNav.navbar-shrink
	{
		padding-top:0;
		padding-bottom:0;
		background-color:#212529;
	}

	#mainNav.navbar-shrink .navbar-brand
	{
		font-size:1.25em;
		padding:0 0;
	}
}

/* =========================================== HEAD =========================================== */
/* =========================================== HEAD =========================================== */
/* =========================================== HEAD =========================================== */

header.masthead
{
	text-align:center;
	color:#000;
	background:url(../image/book/banner.gif);
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center center;
	background-size:cover;
	background-attachment:fixed;
}

header.masthead .intro-text
{
	padding-top:150px;
	padding-bottom:100px;
}

header.masthead .intro-text .intro-lead-in
{
	color:#bd1c1d;
	font-size:22px;
	font-weight: 700;
	line-height:22px;
	margin-bottom:25px;
	font-family: 'Titillium Web', sans-serif;
}

header.masthead .intro-text .intro-heading
{
	font-size:50px;
	font-weight:700;
	line-height:50px;
	margin-bottom:50px;
	font-family: 'Amaranth', sans-serif;
}

@media (min-width:768px)
{
	header.masthead .intro-text
	{
		padding-top:300px;
		padding-bottom:200px;
	}

	header.masthead .intro-text .intro-lead-in
	{
		font-size:40px;
		line-height:40px;
		margin-bottom:25px;
		font-family: 'Titillium Web', sans-serif;
	}

	header.masthead .intro-text .intro-heading
	{
		font-size:75px;
		font-weight:700;
		line-height:75px;
		margin-bottom:50px;
		font-family: 'Amaranth', sans-serif;
	}
}

/* =========================================== BODY =========================================== */
/* =========================================== BODY =========================================== */
/* =========================================== BODY =========================================== */

.service-heading
{
	margin:15px 0;
	text-transform:none;
}

#portfolio .portfolio-item
{
	right:0;
	margin:0 0 15px;
}

#portfolio .portfolio-item .portfolio-link
{
	position:relative;
	display:block;
	max-width:400px;
	margin:0 auto;
	cursor:pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover
{
	position:absolute;
	width:100%;
	height:100%;
	-webkit-transition:all ease .5s;
	transition:all ease .5s;
	opacity:0;
	background:rgba(189,28,29,.8);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover
{
	opacity:1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content
{
	font-size:20px;
	position:absolute;
	top:50%;
	width:100%;
	height:20px;
	margin-top:-12px;
	text-align:center;
	color:#fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i
{
	margin-top:-12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4
{
	margin:0;
}

#portfolio .portfolio-item .portfolio-caption
{
	max-width:400px;
	margin:0 auto;
	padding:25px;
	text-align:center;
	background-color:#fff;
}

#portfolio .portfolio-item .portfolio-caption h4
{
	margin:0;
	text-transform:none;
}

#portfolio .portfolio-item .portfolio-caption p
{
	font-size:16px;
	font-style:italic;
	margin:0;
	font-family: 'Titillium Web', sans-serif;
}

#portfolio *
{
	z-index:2;
}

@media (min-width:767px) 
{
	#portfolio .portfolio-item
	{
	margin:0 0 30px;
	}
}

.portfolio-modal
{
	padding-right:0!important;
}

.portfolio-modal .modal-dialog
{
	margin:1rem;
	max-width:100vw;
}

.portfolio-modal .modal-content
{
	padding:100px 0;
	text-align:center;
}

.portfolio-modal .modal-content h2
{
	font-size:3em;
	margin-bottom:15px;
}

.portfolio-modal .modal-content p
{
	margin-bottom:30px;
}

.portfolio-modal .modal-content p.item-intro
{
	font-size:16px;
	font-style:italic;
	margin:20px 0 30px;
	font-family: 'Titillium Web', sans-serif;
}

.portfolio-modal .modal-content ul.list-inline
{
	margin-top:0;
	margin-bottom:30px;
}

.portfolio-modal .modal-content img
{
	margin-bottom:30px;
}

.portfolio-modal .modal-content button
{
	cursor:pointer;
}

.portfolio-modal .close-modal
{
	position:absolute;
	top:25px;
	right:25px;
	width:75px;
	height:75px;
	cursor:pointer;
	background-color:transparent;
}

.portfolio-modal .close-modal:hover
{
opacity:.3}

.portfolio-modal .close-modal .lr
{
	z-index:1051;
	width:1px;
	height:75px;
	margin-left:35px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
background-color:#212529}

.portfolio-modal .close-modal .lr .rl
{
	z-index:1052;
	width:1px;
	height:75px;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
background-color:#212529}

.timeline
{
	position:relative;
	padding:0;
list-style:none}

.timeline:before
{
	position:absolute;
	top:0;
	bottom:0;
	left:40px;
	width:2px;
	margin-left:-1.5px;
	content:'';
background-color:#e9ecef}

.timeline>li
{
	position:relative;
	min-height:50px;
margin-bottom:50px}

.timeline>li:after,.timeline>li:before
{
	display:table;
content:' '}

.timeline>li:after
{
clear:both}

.timeline>li .timeline-panel
{
	position:relative;
	float:right;
	width:100%;
	padding:0 20px 0 100px;
text-align:left}

.timeline>li .timeline-panel:before
{
	right:auto;
	left:-15px;
	border-right-width:15px;
border-left-width:0}

.timeline>li .timeline-panel:after
{
	right:auto;
	left:-14px;
	border-right-width:14px;
border-left-width:0}

.timeline>li .timeline-image
{
	position:absolute;
	z-index:100;
	left:0;
	width:80px;
	height:80px;
	margin-left:0;
	text-align:center;
	color:#fff;
	border:7px solid #e9ecef;
	border-radius:100%;
	background-color:#bd1c1d;
}

.timeline>li .timeline-image:hover
{
	background-color: #212529;
}

.timeline>li .timeline-image h4
{
	color:white;
	font-size: 13px;
	line-height:15px;
margin-top:12px}

.voirMonCv:hover
{
	text-decoration:none;
	color:white;
}

.timeline>li.timeline-inverted>.timeline-panel
{
	float:right;
	padding:0 20px 0 100px;
text-align:left}

.timeline>li.timeline-inverted>.timeline-panel:before
{
	right:auto;
	left:-15px;
	border-right-width:15px;
border-left-width:0}

.timeline>li.timeline-inverted>.timeline-panel:after
{
	right:auto;
	left:-14px;
	border-right-width:14px;
border-left-width:0}

.timeline>li:last-child
{
margin-bottom:0}

.timeline .timeline-heading h4
{
	margin-top:0;
color:inherit}

.timeline .timeline-heading h4.subheading
{
	text-transform:none;
	color:#bd1c1d;
}

.timeline .timeline-body>p,.timeline .timeline-body>ul
{
margin-bottom:0}

@media (min-width:768px)
{
	.timeline:before
	{
	left:50%}

	.timeline>li
	{
		min-height:100px;
	margin-bottom:100px}

	.timeline>li .timeline-panel
	{
		float:left;
		width:41%;
		padding:0 20px 20px 30px;
	text-align:right}

	.timeline>li .timeline-image
	{
		left:50%;
		width:100px;
		height:100px;
	margin-left:-50px}

	.timeline>li .timeline-image h4
	{
		font-size:13px;
		line-height:18px;
	margin-top:16px}

	.timeline>li.timeline-inverted>.timeline-panel
	{
		float:right;
		padding:0 30px 20px 20px;
	text-align:left}
}

@media (min-width:992px)
{
	.timeline>li
	{
	min-height:150px}

	.timeline>li .timeline-panel
	{
	padding:0 20px 20px}

	.timeline>li .timeline-image
	{
		width:150px;
		height:150px;
	margin-left:-75px}

	.timeline>li .timeline-image h4
	{
		font-size:18px;
		line-height:26px;
	margin-top:30px}

	.timeline>li.timeline-inverted>.timeline-panel
	{
	padding:0 20px 20px}
}

@media (min-width:1200px)
{
	.timeline>li
	{
	min-height:170px}

	.timeline>li .timeline-panel
	{
	padding:0 20px 20px 100px}

	.timeline>li .timeline-image
	{
		width:170px;
		height:170px;
	margin-left:-85px}

	.timeline>li .timeline-image h4
	{
	margin-top:40px}

	.timeline>li.timeline-inverted>.timeline-panel
	{
	padding:0 100px 20px 20px}
}

h6
{
	font-family: 'Titillium Web', sans-serif;
}

.ui-group h2
{
	font-size: 2.5rem;
	margin: 5rem;
}

.button-group
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.button-group button
{
	margin:3px;
}

.modal-icone
{
	display: flex;
	flex-direction: row;
}

.modal-icone img
{
	width: 128px;
	height: auto;
}

.modal-body h2, .modal-body h4, .mention h4
{
	color: #bd1c1d;
}

.mention
{
	margin:7rem 0;
}

.mention p
{
	margin-bottom:3rem;
}

/* =========================================== Animation contact =========================================== */
/* =========================================== Animation contact =========================================== */
/* =========================================== Animation contact =========================================== */
.biiip
{
	color:#000;
	font-style: italic;
}

@keyframes spaceboots
{
	0%
	{
		transform: translate(2px, 1px) rotate(0deg);
	}

	10%
	{
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20%
	{
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30%
	{
		transform: translate(0px, 2px) rotate(0deg);
	}

	40%
	{
		transform: translate(1px, -1px) rotate(1deg);
	}

	50%
	{
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60%
	{
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70%
	{
		transform: translate(2px, 1px) rotate(-1deg);
	}

	80%
	{
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90%
	{
		transform: translate(2px, 2px) rotate(0deg);
	}

	100%
	{
		transform: translate(1px, -2px) rotate(-1deg);
	}

}

.biiip:hover,  .biiip:focus
{
	animation-name: spaceboots;
	animation-duration: 0.2s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* =========================================== FOOTER =========================================== */
/* =========================================== FOOTER =========================================== */
/* =========================================== FOOTER =========================================== */
footer
{
	padding:25px 0;
text-align:center}

footer span.copyright
{
	font-size:90%;
	line-height:40px;
	text-transform:none;
	font-family: 'Amaranth', sans-serif;
}

footer ul.quicklinks
{
	font-size:90%;
	line-height:40px;
	margin-bottom:0;
	text-transform:none;
	font-family: 'Amaranth', sans-serif;
}

ul.social-buttons
{
margin-bottom:0}

ul.social-buttons li a
{
	font-size:20px;
	line-height:50px;
	display:block;
	width:50px;
	height:50px;
	-webkit-transition:all .3s;
	transition:all .3s;
	color:#fff;
	border-radius:100%;
	outline:0;
background-color:#212529}

ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover
{
	background-color:#bd1c1d;
}

.monlogo
{
	width: 70px;
	height: auto;
}

.logo a img
{
	width:100px;
	height: auto;
}

.monlogo:hover, .logo a img:hover
{
	transform: translateY(-5px) scale(1.02);
}

.monNom:hover , .monNom:focus , .monNom:active , .monNom:focus-within ,.monNom:visited
{
	color:#bd1c1d;
}

#myFooter
{
	background-color: #212529;
	color: white;
	padding-top: 30px;
}

#myFooter .footer-copyright
{
	background-color:#212529;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

#myFooter .row
{
	margin-bottom: 60px;
}

#myFooter .navbar-brand
{
	margin-top: 45px;
	height: 65px;
}

#myFooter .footer-copyright p
{
	margin: 10px;
	color: #ccc;
}

#myFooter ul
{
	list-style-type: none;
	padding-left: 0;
	line-height: 1.7;
}

#myFooter h5
{
	font-size: 18px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
}

#myFooter h2 a
{
	font-size: 50px;
	text-align: center;
	color: #fff;
}

#myFooter a
{
	color: #d2d1d1;
	text-decoration: none;
}

#myFooter a:hover,#myFooter a:focus
{
	text-decoration: none;
	color: white;
}

#myFooter .btn
{
	color: white;
	background-color: #bd1c1d;
	border-radius: 20px;
	border: none;
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 25px;
}

@media screen and (max-width: 767px)
{
	#myFooter
	{
		text-align: center;
	}
}

.mailMe
{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.mailMe:nth-child(1)
{
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

#myBtn
{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	/* Pour pas qu'il se chevauche */
	border: none;
	outline: none;
	background-color: #bd1c1d;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
	font-family: 'Amaranth', sans-serif;
	text-decoration: none;
}

#myBtn:hover
{
	background-color:#212529;
}