/* =========================================================== */
/* ANIMATION */
/* =========================================================== */

@keyframes bounce {
   0%, 50%, 100% {transform: translateY(0);}
   20% {transform: translateY(-30px);}
   80% {transform: translateY(-15px);}
}

/* =========================================================== */
/* GLOBAL */
/* =========================================================== */


body
{
    line-height:2;
    font-family: 'Bree Serif', serif;
  	background: url(../img/fond.png);
}

h2:before, h2::after
{
  content: " - " ;
}



/* =========================================================== */
/* HEADER */
/* =========================================================== */
header a
{

  color:#999;

}

header
{
  margin: 5rem;
  /* text-align: center; */
  font-size: 4rem;
}


header a:first-child
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-decoration:none;
  margin-bottom: 1rem;
  align-items: center;
}

header a img
{
  width: 50px;
  height: auto;
}


nav a:hover
{
  color: #f62459;
  transform: translateY(8px);
}

header> a:first-child:hover
{
    color: #f62459;
}

#logo:hover img
{
  transform: scale(1.5);
  color:  color:#999;
}



nav ul li a
{
  line-height:8rem;
  font-size:2rem;
}


nav ul
{
  display:flex;
  flex-direction: column;
  justify-content:center;
  text-decoration:none;
}

/* =========================================================== */
/* MAIN */
/* =========================================================== */


/* Accueil */

h1
{
  font-size:4rem;
  color:white;
}

#accueil
{
  background: url(../img/bg_header.png) #000;
  background-position: bottom left;
  background-repeat: no-repeat;
  margin:0 auto;
  text-align: center;
  padding: 18rem 5rem;
  color:white;
}

#accueil p
{
  margin-bottom: 10%;
}

#accueil a
{
  margin-top: 5rem;
  padding: 1.1rem 2rem;
  color:white;
  background-color:#f62459;
  border-radius: 5px;
}

#accueil a:hover
{
  background-color: white;
  color: #f62459;
}

/* Compétence */

h2
{
  text-align: center;
  width: 80%;
  border-bottom: 2px solid rgba(153,153,153,0.1);
  color: #f62459;
  font-size: 3.5rem;
  margin:5rem 0 4rem 0;
}

h3
{
  font-size: 2.5rem;
}

#competence
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  text-align: center;
  color: #999;
}

figure:nth-child(n+2)
{
  margin: 6rem 0;
}

h4
{
  font-size:2rem;
  color: #f62459;
}

#services
{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color:#999;
  padding:0 10%;
}

article
{
  margin-bottom: 5%;
}

article > .p1
{
  display: inline-block;
  padding:1.2rem 2rem;
  font-size: 2rem;
  border: 2px solid rgba(153,153,153,0.2);
  color: #999;
  width: 75px;
  border-radius: 100%;
  background-color: rgba(153,153,153,0.1);
}

.p1:hover
{
  -webkit-animation: bounce 1s ease infinite alternate;
  animation: bounce 1s ease infinite alternate;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

#realisation
{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#999;
  padding:0 10%;
}

aside p:nth-child(n+3)
{
  margin-bottom: 2rem;
}

aside
{
  margin-top: 2rem;
}

aside img
{
  max-width: 100%;
}

aside a
{
  padding: 1.1rem 2rem;
  color:#f62459;
  border-radius: 5px;
}

aside a:hover
{
  color: white;
  background-color:#f62459;
}

#contact
{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#999;
  padding:0 10%;
  text-align: center;
}

section>p
{
  text-align: left;
}

.presentation
{
  text-align: center;
}

.inputt
{
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

form
{
  width: 100%;
}


form textarea
{
  background: url(../img/bg_form_message.svg) no-repeat;
  background-size: 2.5rem;
  background-position: 0.65rem;
}

form .mail
{
  background: url(../img/bg_form_mail.svg) no-repeat;
  background-size:2.5rem;
  background-position: 0.65rem;
}

form .name
{
  background: url(../img/bg_form_name.svg) no-repeat;
  background-size: 2.5rem;
  background-position: 0.65rem;
}

input, textarea {
	padding: 1.5rem 1.5rem 1.5rem 5rem;
	margin: 1%;
	color: #666;
	border-radius: 50px;
	border: 1px solid #ccc;
	font-size: 1.6rem;
}

.button1
{
  cursor: pointer;
  background-color: #f62459;
  color:white;
  font-size: 1.5rem;
  padding:2rem 4rem;
}

.button1:hover
{
  font-weight: 700;
  color:#f62459;
  background-color: transparent;
}


.button2
{
    cursor: pointer;
  background-color: #999;
  color:white;
  font-size: 1.5rem;
  padding:2rem 4rem;
}

.button2:hover
{
  font-weight: 700;
  color:#999;
  background-color: transparent;
}

aside img:hover
{
  filter: contrast(1.3);
}
figure img:hover
{
  filter:contrast(2);
}


/* =========================================================== */
/* FOOTER*/
/* =========================================================== */

#licence {
  margin-top: 10%;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  padding: 25px;
  color:#999;
}
footer a {
    color:#f62459;
}
#licence img {
  width: 50px;
}
#licence img:hover {
transform: translateY(-5px) scale(1.02);
}

.clearfix
{
  display:block;
  clear:both;
}
/* =========================================================== */
/* MEDIA QUERIES */
/* =========================================================== */
 /* Tablette */
@media screen and (min-width: 767.98px)
{

  header a img
{
  width: 120px;
  height: auto;
}


  nav ul
  {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  aside img
  {
    float: left;
    max-width: 50%;
    margin-right: 3%;
  }

.floatright
  {
    float: right;
    max-width: 50%;
    margin-left: 3%;
  }

  .inputt
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

input
{
  width: 39%;
}

  textarea
  {
    flex-basis: 100%;
  }
}

 /* Desktop */
@media screen and (min-width: 991.98px)
{


  #competence, #services
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  #services article, #competence figure
  {
    width: 30%;
  }

#services
{
  justify-content: space-around;
}

  #competence> h2, #services>h2
  {
    flex-basis: 100%;
  }


  header
  {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  header a img
{
  width: 70px;
  height: auto;
  margin-right: 2rem;
}


  header #logo
  {
    flex-direction: row;
  }

  nav ul li
  {
    margin: 0 5rem;
  }

  main
  {
    display: flex;
    justify-content: space-between;
  }
  main aside


}
*/
